.form{
    margin: 0 20%;
    position: relative;
}
.form label{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.form input{
    width: 100%;
    padding: 12px 10px;
    border: 1px solid black;
    appearance: none;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    outline: none;
}

.form textarea{
    width: 100%;
    height: 100px;
    padding: 7px 10px;
    resize: vertical;
    overflow: auto;
    border-radius: 0;
    border: 1px solid black;
    outline: none;
}

.nesty-input{
    text-decoration: none;
    max-width: 100%;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
}

.form-input{
    margin-bottom: 50px;
}

span.required_fields{
    color: red;
    position: absolute;
    right: 0;
    font-weight: normal;
}

span.required{
    color: red;
}

input.submit_btn{
    background-color: black;
    color: white;
    width: 280px;
    margin: 25px 0;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
}

input.submit_btn:hover{
    background-color: white;
    color: black;
}

.form p{
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-top: 100px;
}



/*========== Media Query ==========*/

@media screen and (max-width: 992px){
    div.form{
        margin: 0 10%;
    }
    .form label{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    div.form-input{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px){
    .form input{
        padding: 8px;
    }
    .form p{
        margin-top: 30px;
        font-size: 12px;
    }
}
