*{
  box-sizing: border-box;
}
html{
  --aside-width: 240px;
}

body{
  margin: 0 auto;
  font-family: "helvetica_neue", Helvetica, sans-serif;
}



header{
  width: 100%;
  display: inline-block;
  background-color: black;
  font-size: 0;
  position: fixed;
  top: -0.5px;
  z-index: 3;
  padding: 10px 0;
}

div.logo{
  display: inline-block;
  width: 120px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}
img.logo{
  width: 100%;
}

a.logo{
  opacity: 1;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.logo:hover{
  opacity: .4;
}

form.search{
  display: inline-block;
  width: 30%;
}

input.search{
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  outline: none;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
/*   background-position: 5px 4px; */
  background-position: right 10px center;
  width: 100%;
  transition: width 1s ease-in-out;
  vertical-align: middle;
  border: 1px solid black;
}

nav.nav{
  font-size: 14px;
  display: inline-block;
  padding: 5px 0;
  margin-left: 20px;
  vertical-align: middle;

}

ul.nav{
  margin: 0 auto;
  padding: 0;
}

li.nav{
  font-weight: 600;
  display: inline-block;
  list-style: none;
  
  margin: 0;
  padding: 0 5px 0 5px;
}

li.nav.search, li.nav.cart, li.nav.user{
  display: none;
}

a.nav{
  position: relative;
  text-decoration: none;
  color: white;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

a.nav:hover{
  width: 100%;
  color: #9C9C9C;
}

a.nav:hover .underline{
  width: 100%;
  opacity: 1;
}

div.underline{
  opacity: 1;
    margin-top: 4px;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

div.mobile-active{
  display: none;
}

div.active{
  width: 100%;
}



div.user{
  float: right;
  vertical-align: middle;
  padding: 5px 10px;
}

div.user > a{
  opacity: 1;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
div.user > a:hover{
  opacity: .4;
}

div.signup > a{
  opacity: 1;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
div.signup > a:hover{
  opacity: .4;
}



div.signup{
  font-size: 14px;
  position: relative;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  padding: 5px 20px 5px 10px;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


div.signup:hover ul.signup{
  /* 第三步 */
  display: block;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


ul.signup{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: none;
  position: absolute;
  top: 26.5px;
  right: -2.5px;
  z-index: 1;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


ul.signup > li > a{
  color: white;
  -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


ul.signup > li > a:hover{
  color: black;
  cursor: pointer;
}


ul.signup > li{
  list-style: none;
  width: 100px;
}

ul.signup > li > a{
  font-weight: 600;
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

hr.hr{
  border: 1px solid white;
  opacity: .5;
  width: 75%;
  margin: 0 auto;
}






.wrapper-grid {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

.container {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.item_img {
  width: 100%;
}

.item_name {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
}

.item_color {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  color: #888888;
  margin: 1rem 0;
  font-size: 14px;
}

.item_price{
  font-size: 14px;
  margin: 1rem 0;
}

.footwear_shop{
  font-size: 14px;
  margin: 1rem 0;
  text-align: right;
}

a.item{
  color: black;
  text-decoration: none;
  text-transform: none;
}

div.title{
  margin: 100px 10% 12.5px 10%;
}
h2.title{
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  margin: 0;

}
a.title{
  font-size: 14px;
  vertical-align: middle;
  float: right;
  text-decoration: none;
  color: black;
  margin: 5px 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a.title:hover{
  color: #9c9c9c;
}

a.title:hover .underline-black{
  width: 42px;
}


.wrapper-grid-brands {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
}

.container-brands {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.brands_img {
  width: 100%;
}

.brands_name {
  font-weight: bold;
  font-size: 14px;
}

a.brands{
  color: black;
  text-decoration: none;
  text-transform: none;
}

.wrapper-grid-streetwear {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 2.5fr 2fr;
  grid-template-rows: 2fr;
  gap: 25px;
}

.container-streetwear {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.streetwear_img {
  width: 100%;
}

.streetwear_name {
  font-weight: bold;
  font-size: 14px;
}

a.streetwear{
  color: black;
  text-decoration: none;
  text-transform: none;
}

.wrapper-grid-streetwear-items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 25px;
}

.wrapper-grid-footwear {
  margin: 0 10%;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  grid-template-rows: 2fr;
  gap: 25px;
}

.container-footwear {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.footwear_img {
  width: 100%;
}

.footwear_name {
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}

a.footwear{
  color: black;
  text-decoration: none;
  text-transform: none;
}

.wrapper-grid-footwear-items {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 25px;
}


footer.footer{
  color: white;
  margin-top: 100px;
  background-color: black;
  padding: 20px 0;
}

footer.footer > hr{
  margin: 0;
}

.wrapper-grid-footer {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  font-size: 14px;
}

.container-footer{
  margin: 50px 0;
}

.container-footer > h2{
  margin: 0;
}

.container-footer > p{
  margin-bottom: 0;

}

p.copyright{
  text-align: center;
  margin: 8px;
}

div.copyright{
  text-align: center;
  margin: 0 10%;
  color: #c9c9c9;
  font-size: 12px;
  line-height: 1rem;
}
div.copyright > a{
  color: #c9c9c9;
  text-decoration: none;
}


label.email{
  display: block;
}

input.email{
    position: relative;
    display: inline-block;
    width: 72.5%;
    margin: 0px 25px 25px 0;
    padding: 8px 0px;
    color: white;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.45px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-radius: 0px;
    background: black;
    outline-style: none;
    appearance: none;
}

form.email{
  margin-left: 50px;
}

button.email{
  color: black;
  background-color: white;
  outline-style: none;
  border-style: none;
  width: 115px;
  height: 40px;
  cursor: pointer;
  margin-top: 0;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

button.email:hover{
  color: white;
  background-color: black;
  border: 1px solid white;
}


/* ====== Burger menu ====== */

.burger {
  outline: none;
  width: 15px;
  border: 0px;
  padding: 12px 0;
  margin-right: 20px;
  background: transparent;
  transition: all 250ms ease-out;
  cursor: pointer;
  float: right;
}

.burger:before, .burger:after {
  content: '';
  width: 15px;
  height: 2px;
  position: absolute;
  background: white;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

/*line transition*/

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

/* ====== Burger menu End====== */


/* ====== Media Query ====== */


/* ====== burger ====== */
@media screen and (min-width: 992px){
  nav.nav{
/*     display: block; */
    display: inline-block !important;
  }
}

@media screen and (max-width: 992px){
  nav.nav, div.signup, div.user{
    display: none;
  }
  nav.nav{
    padding: 0;
  }
  form.search{
    display: none;
  }
  img.logo{
    height: 30px;
  }
}

ul.nav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align:right;
  float:right;
}
ul.nav > li{
  display: inline-block;
}
/* 行動版時，調整列表樣式 */
@media screen and (max-width: 992px){
  ul.nav > li{
    display: block;
    padding: 10px 10px 10px 0;
  }
  li.nav.search, li.nav.cart, li.nav.user{
    display: block;
  }
}

button.burger{
  display: none;
}
/* 行動版時，將按鈕顯示出來 */
@media screen and (max-width: 992px){
  button.burger{
    display: flex;
  }
}
/* ====== burger end ====== */

@media screen and (min-width: 1400px){
  .wrapper-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  div.underline{
    display: block;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .wrapper-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  div.underline{
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .wrapper-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  div.underline{
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  div.logo{
    margin-left: 20px;
  }
  div.underline{
    display: none;
  }
  div.mobile-active{
      display: block;
      margin-top: 4px;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: white;
      right: 0;
  }
  .wrapper-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-streetwear {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-footwear {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-streetwear-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-footwear-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }
  h1.footwear_name{
    text-align: left;
  }
  p.footwear_shop{
    text-align: left;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  div.logo{
    margin-left: 20px;
  }
  div.underline{
    display: none;
  }
  div.mobile-active{
    display: block;
    margin-top: 4px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    right: 0;
}
  .wrapper-grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-brands {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-streetwear {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-footwear {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  h1.footwear_name{
    text-align: left;
  }
  p.footwear_shop{
    text-align: left;
  }
  input.email{
    width: 100%;
  }
}

@media screen and (max-width: 576px){
  div.logo{
    margin-left: 20px;
  }
  div.underline{
    display: none;
  }
  div.mobile-active{
    display: block;
    margin-top: 4px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    right: 0;
}
  .wrapper-grid{
    margin: 0 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .wrapper-grid-brands {
    margin: 0 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-streetwear {
    margin: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-footwear {
    margin: 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .wrapper-grid-streetwear-items {
    gap: 20px;
  }
  .wrapper-grid-footwear-items {
    gap: 20px;
  }
  div.title{
    margin-right: 20px;
    margin-left: 20px;
  }
  h1.footwear_name{
    text-align: left;
  }
  p.footwear_shop{
    text-align: left;
  }
  .wrapper-grid-footer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
  }
  footer.footer{
    margin-top: 50px;
  }
  .container-footer{
    margin: 20px 0;
  }
  .container-footer > h2{
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 18px;
  }
  .container-footer > p{
    line-height: 25px;
  }
  form.email{
    margin-left: 0;
  }
  input.email{
    margin: 5px 0 20px 0;
    padding: 0;
    width: 80%;
  }
  button.email{
    width: 80px;
    height: 30px;
  }
  p.copyright{
    margin-top: 20px;
  }
  div.copyright{
    font-size: 10px;
  }
}

@media screen and (max-width: 366px){
  div.underline{
    display: none;
  }
  div.mobile-active{
    display: block;
    margin-top: 4px;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    right: 0;
}
  div.logo{
    margin-left: 20px;
  }
  div.title{
    margin: 50px 20px 20px 20px;
  }
  h1.item_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0;
    font-size: 12px;
  }
  h1.brands_name{
    margin: 5px 0;
    font-size: 12px;
  }
  h2.title{
    font-size: 18px;
  }
  a.title{
    font-size: 10px;
  }
  p.item_color{
    font-size: 10px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  p.item_price{
    font-size: 10px;
    margin: 10px 0;
  }
  p.footwear_shop{
    font-size: 10px;
    margin: 10px 0;
  }
  .wrapper-grid{
    margin: 0 20px;
    gap: 20px;
  }

  .wrapper-grid-brands {
    margin: 0 20px;
    gap: 20px;
  }
  .wrapper-grid-streetwear {
    margin: 0 20px;
    gap: 20px;
  }
  .wrapper-grid-footwear {
    margin: 0 20px;
    gap: 20px;
  }
  .wrapper-grid-streetwear-items {
    gap: 20px;
  }
  .wrapper-grid-footwear-items {
    gap: 20px;
  }
  .wrapper-grid-footer{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  footer.footer{
    margin-top: 50px;
  }
  .container-footer{
    margin: 20px 0;
  }
  .container-footer > h2{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .container-footer > p{
    font-size: 10px;
    line-height: 15px;
  }
  form.email{
    margin-left: 0;
  }
  label.email{
    font-size: 12px;
  }
  input.email{
    font-size: 12px;
    margin: 5px 0 20px 0;
    padding: 0;
  }
  button.email{
    font-size: 12px;
    width: 80px;
    height: 30px;
  }
  p.copyright{
    margin-top: 20px;
    font-size: 12px;
  }
  div.copyright{
    font-size: 10px;
  }
  h1.footwear_name{
    text-align: left;
  }
  p.footwear_shop{
    text-align: left;
  }
}


/* ====== Media Query End ====== */