
ol.pagination{
  list-style: none;
  margin: 75px 10% 25px 10%;
  padding: 0;
}

ol.pagination > li{
    display: inline-block;
    font-size: 14px;
  }

  ol.pagination > li > a{
    text-decoration: none;
    color: #898989;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  ol.pagination > li > a:hover{
    color: black;
  }

  .wrapper-grid-item-detail {
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1.5fr 12fr 8fr;
    grid-template-rows: 1fr;
    gap: 50px;
  }

  

  img.item_img_others{
    width: 100%;
    opacity: .5;
    margin-bottom: 15px;
    border: 1px solid #898989;
      -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


img.item_img_others:hover{
    opacity: 1;
}
img.item_img_others.-on{
    border: 1px solid black;
    opacity: 1;
}

img.big_item_img{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #898989;
}



div.one-column{
    width: 100%;
}

div.container-detail-img{
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}


div.container-detail-description > h1{
    margin-top: 0;
    margin-bottom: 25px;
}

div.brand_name{
    font-size: 18px;
    margin: 25px 0;
    color: #898989;
}

div.price{
    font-size: 18px;
    margin: 25px 0;
}

div.item_size{
    font-size: 18px;
    margin: 25px 0 10px 0;
}

label.size{
    background-color: white;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    padding: 0;
    height: 50px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

label.size:hover{
    background-color: black;
    color: white;
}

input[type=radio] {
    border: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
    appearance: auto;
    font-size: 0;
    position: absolute;
}

label.size.-on{
    background-color: black;
    color: white;
}

div.quantity_input{
    font-size: 0;
    margin: 25px 0;
}

div.quantity_input >div{
    margin-bottom: 10px;
    font-size: 18px;
}

div.quantity a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

input.quantity{
    font-size: 14px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

a.add_to_cart{
    display: block;
    border: 1px solid black;
    background-color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.add_to_cart:hover{
    background-color: white;
    color: black;
}

a.add_to_wishlist{
    display: block;
    border: 1px solid #898989;
    background-color: #898989;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 25px 0;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a.add_to_wishlist:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

div.wrapper-grid-similar-items{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
  }
div.similar-items-heading{
    text-align: center;
    margin: 100px 0 10px 0;
}


div.mobile{
    margin: 0 10%;
    display: none;
}
div.thumb{
    display: none;
}



/*========== Media Query ==========*/

@media screen and (max-width: 992px){
    div.container-detail-description{
        display: none;
    }
    div.mobile{
        margin: 0;
        display: block;
        border-top: 1px solid black;
        padding: 50px 10%;
    }
    .wrapper-grid-item-detail {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
      }
      div.thumb{
          display: inline-block;
          width: 100%;
      }
      
    div.container-detail-slider{
        display: none;
    }
    div.thumb-parent{
        font-size: 0;
        display: grid;
        margin: 0 10%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }
    div.wrapper-grid-similar-items{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
      }
      input.quantity{
          width: calc(100% - 100px);
      }
      div.quantity a{
        text-decoration: none;
        color: black;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
      div.quantity{
        font-size: 0;
    }
    div.quantity_input{
        font-size: 0;
    }
    div.container-detail-img{
        height: 70vh;
        overflow-y: hidden;
    }
}

@media screen and (max-width: 768px){
    div.container-detail-description > h1{
        font-size: 24px;
    }
    
    
}

@media screen and (max-width: 576px){
    div.wrapper-grid-similar-items{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
      }
      div.container-detail-description > h1{
          font-size: 18px;
          margin: 20px 0;
      }
      div.brand_name{
          font-size: 14px;
          margin: 20px 0;
      }
      div.price{
          font-size: 14px;
      }
      div.item_size{
          font-size: 14px;
          margin: 20px 0 10px 0;
      }
      div.container-detail-description label{
          font-size: 14px;
          margin-right: 10px;
          height: 40px;
          width: 40px;
      }
      div.quantity  div{
          font-size: 14px;
      }
      div.quantity a{
        text-decoration: none;
        color: black;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
      }
      input.quantity{
          height: 40px;
          width: calc(100% - 80px);
      }
      ol.pagination{
          margin: 70px 20px 20px 20px;
      }
      div.thumb-parent{
        margin: 0 20px;
    }
    .wrapper-grid-item-detail {
        margin: 0 20px;
      }
      div.wrapper-grid-similar-items{
        margin: 0 20px;
      }
    
}

@media screen and (max-width: 366px){
    div.mobile{
        margin: 0 20px;
    }  
}
