*{
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #c9c9c9;
}

.view_item img{
	width: 100%;
}

.view_item_grid img{
	width: 100%;
    border: 1px solid #D7D7D7;
    
}

.wrapper{
	margin: 0 10%;
}

.links{
	margin-bottom: 25px;
	background: white;
	border-radius: 3px;
}

.links ul{
	display: flex;
    float: right;
}

.links ul li{
	margin: 0 0 0 10px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: black;
}

.view_main{
	background: white;
	padding: 15px 0;
}

.view_main hr{
	margin-bottom: 50px;
    border: 1px solid #D7D7D7;
}

.list-view{
	background: white;
	margin: 25px 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.view_item{
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: 2.5fr 2fr;
    grid-template-rows: 1fr;
    gap: 25px;
}

.view_item .title{
    font-size: 30px;
	font-weight: 600;
    color: black;
}

.view_item .content{
	margin: 25px 0;
	font-size: 14px;
}

.view_item .btn{
	width: 125px;
	background: black;
	padding: 8px 0;
	color: #fff;
	text-align: center;
	cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

.view_item .btn:hover{
	background: white;
    border: 1px solid black;
    color: black;
}

.vi_right{
    position: relative;
}


.grid-view {
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0;
}

.view_item_grid a{
    text-decoration: none;
}

.view_item_grid p.title{
    line-height: 30px;
    font-size: 14px;
    color: black;
    margin: 15px 0;
}



.btn a {
    text-decoration: none;
    color: white;
}

.btn a:hover {
    color: black;
}